<html>
    <head>
      <style>
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 2rem;
        }

        h1 {
          font-size: 5rem;
        }
        .homepage-button {
          font-size: 2rem;
          text-decoration: none;
          color: black;
          border-style: solid;
          padding: 0.5rem;
          border-radius: 1rem;
        }

        a {
          text-decoration: none;
          color: black
        }
      </style>
    </head>
    <body>
    <h1>
    Logged out
    </h1>
    <p>
      You have successfully logged off.
    </p>
    <p class="homepage-button"><a href ='/'>Return to homepage</a></p>
    </body>
</html>